<div class="spectator">
  <mat-slide-toggle color="primary" [checked]="spectatorModeChecked" (change)="toggleSpectatorCookieValue()">SPECTATOR MODE <i class="fa fa-eye" aria-hidden="true"></i></mat-slide-toggle>
</div>

<div class="list-container">
  <div class="user-card" *ngFor="let user of usersList" (click)="selectUser(user['_id'], user)">
    <img src="{{user['img'] ? user['img'] : 'assets/user-placeholder.png'}}" alt="User" class="user-photo">
    <span>{{user['name']}} {{user['surname']}}</span>
  </div>
</div>



