.list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  .user-card {
    max-width: 200px;
    max-height: 200px;
    margin: 15px;
    transition: transform .5s ease;

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
      opacity: 0.7;
    }

    img {
      width: 100%;
      height: 100%;
    }

    span {
      display: block;
      text-align: center;
    }

    button {
      display: block;
      width: 100%;
      border: none;
      color: white;
      background-color: #1071af;
      padding: 15px;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
