<div class="container">
  <div class="connected-users">
    <p>Users connected ({{connectedUsersList.length}}):</p>
    <ul>
      <li *ngFor="let user of connectedUsersList" [ngClass]="{'has-spoken': user['hasSpoken']}">
        {{user['name']}} {{user['surname']}} <span *ngIf="user['host']">[host]</span>
      </li>
    </ul>
  </div>
  <div class="current-speaker">
    <p><b>Me:</b> {{currentConnectedUser['name']}} {{currentConnectedUser['surname']}}</p>
    <p (click)="changeUser()">[Change user]</p>

    <div class="speaking-status">
      <h1 *ngIf="!isHostUser && !meetingStarted && !meetingDone">Waiting for the host...</h1>
      <h1 *ngIf="isHostUser && !meetingStarted && !meetingDone">You are the host!</h1>
      <button class="start-daily-btn" (click)="startDaily()" *ngIf="isHostUser && !meetingStarted && !meetingDone">Start daily</button>

      <div *ngIf="isMyTurn && meetingStarted">
        <h1>It's your turn to speak!</h1>
        <button class="finish-speaking-btn" (click)="finishSpeaking()">Finish talking</button>
      </div>

      <div *ngIf="!isMyTurn && meetingStarted">
        <h1>{{currentSpeaker['name']}} {{currentSpeaker['surname']}} is speaking</h1>
        <img src="{{currentSpeaker['img']}}" alt="Current Speaker" width="250" height="250">
      </div>

      <div *ngIf="meetingDone">
        <h1>Meeting Done! Bye!</h1>
        <img src="https://9044c4.medialib.edu.glogster.com/yEyUblL5zqoWSfMSWLgG/media/0b/0b3d930ff8b0f6e88b524a877bf7b67bf09fcb2b/72056861689fab5b4d7372b7456946f7.gif" alt="Speaking">
      </div>
    </div>

  </div>
</div>
