<div class="connected-users">
  <p>Users connected:</p>

  <ul>
    <li *ngFor="let user of connectedUsersList">
      {{user['name']}} {{user['surname']}} <span *ngIf="user['host']">[host]</span>
    </li>
  </ul>
</div>
<div class="current-speaker">
  <p>Me: {{currentConnectedUser['name']}} {{currentConnectedUser['surname']}}</p>
  <h1 *ngIf="!isHostUser && !meetingStarted && !meetingDone">Waiting for the host...</h1>
  <h1 *ngIf="isHostUser && !meetingStarted && !meetingDone">
    You are the host!
    <button (click)="startDaily()">Start daily</button>
  </h1>

  <div *ngIf="isMyTurn && meetingStarted">
    <p>It's your turn to speak!</p>
    <button (click)="finishSpeaking()">Finish talking</button>
  </div>

  <div *ngIf="!isMyTurn && meetingStarted">
    <p>{{currentSpeaker['name']}} {{currentSpeaker['surname']}} is speaking</p>
  </div>

  <div *ngIf="meetingDone">
    <h1>Meeting Done! Bye!</h1>
  </div>

</div>

<button (click)="changeUser()">Change user</button>
