.container {
  width: 100%;
  height: 100%;
  display: flex;
  font-family: Helvetica, sans-serif;

  .connected-users {
    background-color: #fff;
    position: relative;
    display: flex;
    flex-direction: column;

    .users-list {
      overflow-y: scroll;
      height: 90%;
      padding: 0 2rem;

      p {
        font-size: .7rem;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: .05rem;
        padding: 1.75rem 1rem .75rem;
        color: #a2acba;
      }

      ul {
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
          color: #1f2d41;
          line-height: normal;
          font-weight: 200;
          padding: .3rem 0;

          i {
            color: #a2acba;
            padding-right: 1rem;
          }
        }
      }
    }

    .logged-as {
      background-color: rgba(31,45,65,.05);
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      display: flex;
      height: 10%;

      span {
        display: block;
      }

      .logged-user-info {
        padding: 2rem;

        span {
          &:nth-child(1) {
            font-size: .75rem;
            color: #687281;
            margin-bottom: .3rem;
          }

          &:nth-child(2) {
            font-size: .9rem;
            color: #1f2d41;
            font-weight: 500;
          }
        }
      }

      .logout {
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;

        i {
          color: #d26666;

          &:hover {
            cursor: pointer;
          }
        }
      }

    }
  }

  .current-speaker {
    flex-grow: 1;
    position: relative;
    display: flex;
    flex-direction: column;

    .background-primary {
      background-color: #0061f2;
      background-image: linear-gradient(135deg,#0061f2,rgba(105,0,199,.8));
      height: 40%;
      display: flex;
      align-items: start;
      justify-content: center;

      .daily-title {
        margin-top: 5%;

        i {
          color: hsla(0,0%,100%,.5);
          font-size: 2.25rem;
          margin-right: 1rem;
        }

        span {
          color: #fff;
          font-size: 2.25rem;

          &:last-child {
            display: block;
            color: hsla(0,0%,100%,.5);
            font-size: 1.15rem;
            margin-top: .5rem;
          }
        }
      }
    }

    .background-secondary {
      height: 60%;
      background-color: #E4E8EE;
      display: flex;
      width: 100%;
      align-items: flex-end;
      justify-content: center;

      button {
        background-color: #d26666;
        color: #fff;
        border: none;
        padding: 1rem 5rem;
        margin-bottom: 5%;
        z-index: 9999;

        &:hover {
          cursor: pointer;
        }
      }
    }

    .speaker-card-wrapper {
      position: absolute;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      .speaker-card {
        border-radius: 0.4rem;
        overflow: hidden;
        width: 100%;
        margin: 0 12%;
        max-width: 50rem;

        -webkit-box-shadow: 0px 0px 26px -8px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 26px -8px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 26px -8px rgba(0,0,0,0.75);


        .speaker-card-title {
          background-color: #F9F9FA;
          border-bottom: 1px solid rgba(31,45,65,.125);
          color: #0061f2;
          font-weight: 500;
          padding: 1rem 1.3rem;
          font-size: 1.2rem;
          text-align: center;
        }

        .speaker-card-content {
          background-color: #fff;
          display: flex;
          max-height: 22rem;

          .speaker-image {
            img {
              width: 100%;
              max-width: 355px;
              height: auto;
            }
          }

          .speaker-timer {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            padding: 3rem 4rem;

            .counter-icon {
              display: flex;
              align-items: center;
              justify-content: center;

              i {
                font-size: 7rem;
                color: #687281;
              }
            }

            .counter-value {
              display: flex;
              align-items: center;
              justify-content: center;

              span {
                font-size: 7rem;
                color: #d26666;
              }
            }
          }
        }
      }
    }
  }
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
