<div class="container">
  <div class="connected-users">
    <p>Users online ({{connectedUsersList.length}}):</p>
    <ul>
      <li *ngFor="let user of connectedUsersList" [ngClass]="{'has-spoken': user['hasSpoken']}">
        {{user['name']}} {{user['surname']}} <span *ngIf="user['host']">[host]</span>
      </li>
    </ul>

    <p>Users offline ({{offlineUsersList.length}}):</p>
    <ul>
      <li class="offline" *ngFor="let user of offlineUsersList" [ngClass]="{'has-spoken': user['hasSpoken']}">
        {{user['name']}} {{user['surname']}} <span *ngIf="user['host']">[host]</span>
      </li>
    </ul>
  </div>
  <div class="current-speaker">
    <p><b>Me:</b> {{currentConnectedUser['name']}} {{currentConnectedUser['surname']}}</p>
    <p (click)="changeUser()">[Change user]</p>

    <div class="speaking-status">
      <h1 *ngIf="!isHostUser && !meetingStarted && !meetingDone">Waiting for the host...</h1>
      <h1 *ngIf="isHostUser && !meetingStarted && !meetingDone">You are the host!</h1>
      <button class="start-daily-btn" (click)="startDaily()" *ngIf="isHostUser && !meetingStarted && !meetingDone">Start daily</button>

      <div *ngIf="isMyTurn && meetingStarted">
        <h1>It's your turn to speak!</h1>
        <button class="finish-speaking-btn" (click)="finishSpeaking()">Finish talking</button>
      </div>

      <div class="speaker-data" *ngIf="!isMyTurn && meetingStarted">
        <span>CURRENT SPEAKER:</span>
        <img src="{{currentSpeaker['img']}}" alt="Current Speaker" width="350" height="350">
        <span>{{currentSpeaker['name']}} {{currentSpeaker['surname']}}</span>
      </div>

      <div *ngIf="meetingDone">
        <h1>Meeting Done! Bye!</h1>
        <img src="https://media.makeameme.org/created/its-done-the-5b61cf.jpg" alt="Meeting Done" height="400" width="400">
      </div>
    </div>

  </div>
</div>
